html, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url('/assets/grass.png');
    color: #000000;
}

header {
    width: fit-content;
    text-align: center;
    margin: 2rem;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    border-radius: 50px;
    background: beige;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

/* PLOT CONTAINER */
#plot-ctn {
    display: grid;
    grid-template-columns: repeat(3, 75px);
    gap: 1rem;
}

/* EMPTY PLOT */
.plot-empty {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-image: url("/assets/soil.jpg");
    background-size: cover;
}

.plot {
    background-image: url("/assets/planted.png");
    background-size: cover;
}

#plot-error-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    border-radius: 25px;
    color: red;
    margin-top: 2rem;
    font-weight: bold;
}

.plot-error-message-shown {
    background-color: beige;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    position: sticky;
    bottom: 0;
}

/* ADD MENU */
#plot-menu {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 50%;
    margin: 0.75rem;
    position: absolute;
    right: 50px;
    bottom: 0;
}

.plot-add-ctn {
    display: flex;
    align-items: center;
}

/* + BUTTON */
.plot-add-btn, .user-currency-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    margin: 0.75rem;
    cursor: pointer;
    background: beige;
    border: none;
    border-radius: 25px;
    font-weight: bold;
}

.plot-add-btn i {
    font-size: 1.25rem;
}

#plot-price {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    border-radius: 25px;
    font-weight: bold;
}

/* HIDDEN */
.hidden {
    display: none !important;
}